<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHANGE PASSWORD</title>
    <link rel="stylesheet" href="Change password.css">
</head>
<body>

    <div class="second">
        <div class="first">
            <h1>CHANGE YOUR PASSWORD!!!</h1>
        </div>       
    
        <form>
            <div class="third">
                <label>OLD PASSWORD</label>
                <input type="password" placeholder="Old Password" class="OLD" required>
            </div>

            <div class="fourth">
                <label>NEW PASSWORD</label>
                <input type="password" placeholder="New password" class="NEW" required>
            </div>

            <div class="fifth">
                <label>CONFIRM PASSWORD</label>
                <input type="password" placeholder="Confirm Password" class="c-password" required>
            </div>

            <div class="seventh">
                <button type="submit" class="submit">SUBMIT</button>

            </div>
        </form>
    </div>
</body>
</html>